In [ ]:
for i in range(5,23,2):
  print(i)

5
7
9
11
13
15
17
19
21

In [ ]:
# add all numbers
result=0
for i in range(1,11):
  result=result+i
print(result)

55

In [ ]:
#iterating through list
# iterating by index (i)
lst=[1,2,3,4,5,6,True, False]
for i in range(8):
  print(lst[i])
print('----------------------------------')
# so now we will get all the output since range is hard coded, if any new element is added or deleted we get an error that is why we use len function
#iterating through list
lst=[1,2,3,4,5,6,True]
for i in range(8):
  print(lst[i])

print('----------------------------------')

1
2
3
4
5
6
True
False
----------------------------------
1
2
3
4
5
6
True

IndexError: ignored

In [ ]:
for i in range(len(lst)):
  print(lst[i])

1
2
3
4
5
6
True

In [ ]:
# Now we can iterate through direct elements in the list as list , tuples and all are collection of elements and iterable
# if we use this method we won't be having access to the index 
for elements in lst: # its called iterating through items
  print(elements)

1
2
3
4
5
6
True

In [ ]:
# We can get both index and elements with enumerate keyword
for indx,element in enumerate(lst):
  print(indx,element)

0 1
1 2
2 3
3 4
4 5
5 6
6 True

In [ ]:
# Iterating through tuples
tup=(1,2,3,4,"Hello","Tim", False)

for i in range(len(tup)):
  element=tup[i]
  print(element)
print("+++++++++++++++++++++++++++++++++")
for indx,element in enumerate(tup):
  print(indx,element)

1
2
3
4
Hello
Tim
False
+++++++++++++++++++++++++++++++++
0 1
1 2
2 3
3 4
4 Hello
5 Tim
6 False

In [ ]:
# Iterating through strings
s="Hello How"
for i in range(len(s)):
  print(s[i])
print('===============')
print('++++++++++++++++++++')
# iccase you want to do for few characters
for i in range(5):
  print(s[i])

H
e
l
l
o

H
o
w
===============
++++++++++++++++++++
H
e
l
l
o

In [ ]:
# stop the loop using break keyword when it finds 4
lst=[1,2,3,3,3,5,6,4,3,2]
for num in lst:
  if num == 4:
    break
  print(num)
print('done')

1
2
3
3
3
5
6
done

In [ ]:
# when we use continue, it stops at that condition and skips it and continue with the next iteration
# check for 4 now

lst=[1,2,5,6,7,8,9,4,6,4,5,4,7]
for num in lst:
  if num==4:
    continue
  print(num)
print('done')

1
2
5
6
7
8
9
6
5
7
done

In [ ]:
# nested for loops
lst=[9,10]
first=[2,3,4,5]
second=[6,7,8]
for i in first: # i=0 then goes to j=0 then w 
  for j in second:
    for w in lst:
      print(i,j,w)

2 6 9
2 6 10
2 7 9
2 7 10
2 8 9
2 8 10
3 6 9
3 6 10
3 7 9
3 7 10
3 8 9
3 8 10
4 6 9
4 6 10
4 7 9
4 7 10
4 8 9
4 8 10
5 6 9
5 6 10
5 7 9
5 7 10
5 8 9
5 8 10

In [ ]:
# nested loop through list
lst=[[1,2],[3,4],[5,6],[7,8]]
for i in range(len(lst)):
  interior_lst= lst[i]

  for j in range(len(interior_lst)):
    print(interior_lst[j])

1
2
3
4
5
6
7
8

In [ ]:
lst=[[1,2,[10,11],90],[3,4],[5,6],[7,8]]
s=[]
for i in range(len(lst)):
  interior_lst= lst[i]

  for j in range(len(interior_lst)):
    first_lst=interior_lst[j]
    s.append(first_lst)

In [ ]:
s

[1, 2, [10, 11], 90, 3, 4, 5, 6, 7, 8]

In [ ]:
lst=[1, 2, [10, 11], 90, 3, 4, 5, 6, 7, 8]
s=[]
for i in lst:
  #interior_lst= lst[i]
  for j in i:
    print(j)

TypeError: ignored

In [ ]:
type(s)

list

In [ ]:
for k in range(len(s)):
  f=s[k]
  
  for h in range(len(f)):
    print(f[h])

TypeError: ignored

In [ ]:
# chech the index of a
st="Hello how are you"
for i,j in enumerate(st):
  if j =='o' and i<5:
    print(i)

4

In [ ]:
 # ask the user to enter the number and add it to the list
 lst=[]
 for i in range(3):
   num=int(input("Enter a number: "))
   lst.append(num)
print(lst)

Enter a number: 3
Enter a number: 4
Enter a number: 5
[3, 4, 5]

In [ ]:
# pass is like it just sits and do nothing 
# also when you dont want some line throw error and acts as placeholder 
#first one does not throw error , second one does

for i in range(10):
  pass

for i range(3):

SyntaxError: ignored

In [ ]:
words=("hello","how","are","you","learn")
target="you"
for i in words:
  if i==target:
    print("I found the answer")
  else:
    print("I did not find the target")

# Now this output prints i did not find for non answers so use boolean 

found=False
words=("hello","how","are","you","learn")
target="you"
for i in words:
  if i==target:
    print("I found the answer")
    found=True
    

if not found: # since it is boolean we can use not  
    print("I did not find the target")


# even break can be used with for-else statement


words=("hello","how","are","you","learn")
target="n"
for i in words:
  if i==target:
    print("I found the answer")
    break
else:
    print("I did not find the target")

I did not find the target
I did not find the target
I did not find the target
I found the answer
I did not find the target
I found the answer
I did not find the target

In [ ]:
for idx in range(10, -1, -3):
    print(idx, end=",")

10,7,4,1,

In [ ]:
lst = ["tim", "is", "the", "best", "instructor"]
string = "..."
tupl = ("and", "he", "is", "great")

# Write your code here.
for i in range(len(lst)):
    print(lst[i])

for i in range(len(string)):
    print(string[i])

for i in range(len(tupl)):
    print(tupl[i])

tim
is
the
best
instructor
.
.
.
and
he
is
great

In [ ]:
string1 = "aabbccd"
string2 = "aabbccw"
s=[]
b=[]
for i,j in enumerate((string1)):
  print(string1[i])
  s.append(j)
print(s)

for i,j in enumerate((string2)):
  print(string2[i])
  b.append(j)
print(b)

for i in a:
  if a[]
if s==b:

  print("string is same")
else:
    print("not same")

a
a
b
b
c
c
d
['a', 'a', 'b', 'b', 'c', 'c', 'd']
a
a
b
b
c
c
w
['a', 'a', 'b', 'b', 'c', 'c', 'w']
not same

In [ ]:
#PRINT ONLY MATCHING CHARACTER
string1 = "aabbcsdw"
string2 = "abbbcsdd"

for idx in range(len(string1)):
    character1 = string1[idx]
    character2 = string2[idx]

    if character1 == character2:
        print(character2)

a
b
b
c
s
d

In [ ]:
lst = [45, 24, 22, 1, 45, 2, 12, 13, 16, 10, 0, -7]

# Write your code here.
for i,j in enumerate(lst):
    if i%2!=0 and  j%2==0:
       
        print(j)
    else:
        pass

24
2
10

In [ ]:
lst = [[2, 3, 4], [-2, -4, 0], [1, 2], [1, 1, 1, 5, 6], [0, 9, 8, 7]]

# Write your code here.

for i in range(len(lst)):
    s=lst[i]
    
    d=sum(s)
    print(d)

9
-6
3
14
24

In [ ]:
lst = [[2, 3, 4], [-2, -4, 0], [1, 2], [1, 1, 1, 5, 6], [0, 9, 8, 7]]

for inner_list in lst:
    sum_of_inner_list = 0

    for item in inner_list:
        sum_of_inner_list += item

    print(sum_of_inner_list)

9
-6
3
14
24

In [ ]:
lst = [[2, 3, 4], [-2, -4, 0], [1, 2], [1, 1, 1, 5, 6], [0, 9, 8, 7]]

# Write your code here.

for i in range(len(lst)):
    s=lst[i]
    sum=0 # if we declare it outside then sum values gets added up wont take it for each list 
  

    for i in s:
      sum=sum+i 
    print(sum)

9
3
6
20
44

In [ ]:
lst = [-2, 0, 4, 5, 1, 2]

for idx in range(len(lst)-1): 
    current_item = lst[idx]
    next_item = lst[idx + 1]

    sum_of_items = current_item + next_item
    print(sum_of_items)

-2
4
9
6
3

In [ ]:
lst = [-2, 0, 4, 5, 1, 2]
for i in range(len(lst)-1):
  sum=lst[i]+lst[i+1]
  print(sum)

-2
4
9
6
3