In [ ]:
def print_value():
  print("Hello")
print_value()

Hello

In [ ]:
def print_value(value):
  print(value)
print_value("hi")
print_value(value="HOW")

hi
HOW

In [ ]:
def add_5(x,y):
  result=x+y+5
  return(result)
add_5(5,5)

15

In [ ]:
x=5
y=6
z=7
def addd(x,y,z):

  result=x+y+z
  return(result)
addd(x,y,z)

18

In [ ]:
x=5
y=6
z=7
def addd(x,y,z):

  result=x+y+z
  return(result)
a=addd(x,y,z)
print(a)

18

In [ ]:
# we can have multiple return statements in the same function

x=-5
y=-9
z=-8
a=-3
b=4
c=7
def negative_sum(x,y,z):
  result=x+y+z
  if result<0:
    return result
  
  return 1
print(negative_sum(x,y,z))
print(negative_sum(3,3,3)) # it could be direct value or anything
print(negative_sum(a,b,c))

-22
1
1

In [ ]:
def new_range(start,stop,skip):
  x=start
  while x<stop:
    print(x)
    x=x+skip
    
    
new_range(1,7,2)

1
3
5

In [ ]:
def new_range(start=5,stop=20,skip=3):
  x=start
  while x<stop:
    print(x)
    x=x+skip
new_range()

5
8
11
14
17

In [ ]:
# we can return it as tuple
def tup(x,y):
  return x+3,y+3
tup(3,3)

(6, 6)

In [ ]:
def tup(x,y):
  result= x+3,y+3
  return list(result)

 
tup(3,3)

[6, 6]

In [ ]:
# remove string 2 chars from string 1
def remove_char(string1,string2):
  new_string= string1
  for char in string2:
    new_string=new_string.replace(char,"")
  return new_string

remove_char("Hello world","hello")

'H wrd'

In [ ]:
# just to check whether assigning the string one to new variable is necessary
def remove_char(string1,string2):

  for char in string2:
    string1=string1.replace(char,"")
  return string1

remove_char("Hello world","hello")

'H wrd'

In [ ]:
# sum of two lists
def sum_list(lst1,lst2):
  lst1_sum=sum_lst(lst1)
  lst2_sum=sum_lst(lst2)
  return lst1_sum,lst2_sum

  
def sum_lst(lst):
  total=0
  for i in lst:
    total=total+i
  return total  

sum_list(lst1=[3,2,1],lst2=[1,2,3])

(6, 6)

In [ ]:
# nested def

def sum_lst(lst1,lst2):
  def sum_lst1(lst):
    total=0
    for i in lst:
      total=total+i
    return total
  lst1_sum=sum_lst1(lst1)
  lst2_sum=sum_lst1(lst2)
  return lst1_sum,lst2_sum

sum_lst([3,1,3],[4,1,4])

(7, 9)

In [ ]:
def find_all_odds(lst):
    lst1=[]
    for i in (lst):
        if i%2!=0:
          lst1.append(i)
          
        else: 
          pass
        
    return lst1

    # Write your code here.
find_all_odds([1,2,3,4,5,6,5,5,3,2])

[1, 3, 5, 5, 5, 3]

In [ ]:
def string_lengths(strings):
    lst=list(strings)
    lst1=[]
    for i in lst:
      lst2=len(i)
      lst1.append(lst2)

    return lst1

string_lengths(("hello","this"))

[5, 4]

In [ ]:
def compare_lists(lst1=[], lst2=[]):
    lst1_set = set(lst1)
    lst2_set = set(lst2)
    set_intersection = lst1_set.intersection(lst2_set)

    return len(set_intersection)
compare_lists('hello','hey')

2

In [ ]:
def trim_list(lst=[True, False, 2.5, 6.2, 9.6, 2, 4], elements_to_trim=2):
    trimmed_list = []

    for idx in range(len(lst) - elements_to_trim):
        element = lst[idx]
        trimmed_list.append(element)

    return trimmed_list
trim_list()

[True, False, 2.5, 6.2, 9.6]

In [ ]:
def running_sums(numbers=[1,3,5,7]):
  lst=[]
  result=0
  for i in numbers:
    result=result+i
   
    lst.append(result)
  return lst
running_sums()

[1, 4, 9, 16]