<a href="https://colab.research.google.com/github/sunilks12/Programmingexpert_PYTHON/blob/main/lambda_map_filter_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A lambda is an anonymous function that can be defined in-line without the use of the def keyword. This is extremely useful when defining a
custom sort ordering for a collection. Example:

In [7]:
# Here we have a list of tuples, 
# each representing a food and its price.
lst = [
 ('cake','30'),
 ('orange','3'),
 ('pasta','20'),
]
# This lambda function lets us sort 
# by the price of the items.
lst.sort(key=lambda x:x[1])
lst

[('pasta', '20'), ('orange', '3'), ('cake', '30')]

In [9]:
#In Python, lambda functions can have optional parameters. Here is an example of a lambda with an
#optional parameter:
lambda x, y=1: x + y + 5

In [10]:
#In Python, what expression would result in ab| being printed to the screen?
a = lambda y: lambda x: lambda z: print(x + y, end=z)

In [13]:
a("b")("a")("|")

ab|

a holds a complicated lambda function because it returns a lambda that returns a lambda . This
means we'll need three subsequent function calls to execute the print statement.
When we call a("b") a lambda that looks like the following is returned
lambda x: lambda z: print(x + "b", end=z) .
When we call a("b")("a") a lambda that looks like the following is returned
lambda z: print("a" + "b", end=z) .
When we call a("b")("a")("|") we execute the print statement with y = "b" , x = "a"
and z = "|"

In [14]:
func= lambda x,y,z=1: x+y+z
func(2,3)

6

In [15]:
lst = [(1,2),(-2,-4),(3,4),(0,0)]
lst.sort(key = lambda x : x[1])
print(lst)

[(-2, -4), (0, 0), (1, 2), (3, 4)]

In [17]:
lst = [(-2,2),(8,-4),(3,4),(0,0)]
lst.sort(key = lambda x : x[0])
print(lst)

[(-2, 2), (0, 0), (3, 4), (8, -4)]

In [19]:
mul=lambda x: lambda y: x*y
result=mul(3)
result

In [20]:
mul=lambda x: lambda y: x*y # have to parse inside the funtion twice
result=mul(3)
result(4)

12

In [28]:
# my solution
add_values=lambda x,y,z: int(x)+int(y)+int(z)
print(add_values(3,4,5))
max_length=lambda x,y: len(x) if len(str(x))> len(str(y)) else len(y)
print(max_length("hello","how"))
create_set=lambda x,y: list(set(x)&set(y))
print(create_set([1,2],[1,3]))

# PE SOLUTION
add_values = lambda x, y, z : x + y + z
max_length = lambda x, y: max(len(x), len(y))
create_set = lambda x, y: set(x).union(y)

def common_member(a, b):
    result = [i for i in a if i in b]
    return result

a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]

print("The common elements in the two lists are: ")
print(common_member(a, b))

12
5
[1]
The common elements in the two lists are:
[5]

In [21]:
# map and filter
# map loops through each items

In [33]:
lst= [1, 2, 3, 4, 5]
sq=map(lambda x: x**2,lst)
print(sq)

# it retruns map function, for output we need to convert it back to list
lst= [1, 2, 3, 4, 5]
sq=list(map(lambda x: x**2,lst))
print(sq)

# or we can loop through also
lst= [1, 2, 3, 4, 5]
sq=map(lambda x: x**2,lst)
print(sq)

for i in sq:
  print(i)

<map object at 0x7f5155e1b750>
[1, 4, 9, 16, 25]
<map object at 0x7f5155d6bb50>
1
4
9
16
25

In [34]:
import math
lst= [1, 2, 3, 4, 5]
sq=list(map(lambda x: math.sqrt(x),lst))
print(sq)

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

In [35]:
 lst=[[1,2,3],[5,6,7],[6,7,9]]
 summing=list(map(lambda x: sum(x),lst))
 summing

[6, 18, 22]

In [41]:
 lst=[[1,2,3],[5,6,7],[6,7,9]]
 filtering = list(filter(lambda x: sum(x) > 7, lst))
 filtering

[[5, 6, 7], [6, 7, 9]]

In [46]:
 lst=[[1,2,3],[5,6,8],[6,7,9]]
 filter_map=filter(lambda x: x%2==0, map(lambda x: sum(x),lst)) # first write map then apply filter for that
 print(list(filter_map))

[6, 22]

In [47]:
 lst=[[1,2,3],[5,6,9],[6,7,9]]
 filter_map=filter(lambda x: x%2==0, map(lambda x: sum(x),lst))
 print(list(filter_map))

[6, 20, 22]

In [48]:
lst = ["algoexpert", "is", "the", "best"]
x = map(len, lst)
print(list(x))

[10, 2, 3, 4]

In [49]:
lst = [[2, 3, 4], [4, 5, 6], [1, 1, 1], [0, 0], [-5, -7]]
x = filter(lambda a: abs(sum(a)) > 10, lst)
print(list(x))

[[4, 5, 6], [-5, -7]]

In [50]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x=filter(lambda x: x%2==0,map(lambda x: x**2,lst))
for i in x:
  print(i)

4
16
36
64
100