In [1]:
# comprehensions

In [8]:
# if we have to initialise 1,10 randomly we use for loop in traditional method
lst=[]
for i in range(1,10):
  lst.append(i)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
lst=[x for x in range(10,15)] # for x in range(10,15) would be normal for loop just add x in the begining 
# is for operation

In [7]:
lst

[10, 11, 12, 13, 14]

In [9]:
lst=[x+2 for x in range(10,15)]
lst

[12, 13, 14, 15, 16]

In [11]:
lst=[int(x/2) for x in range(10,15)]
lst

[5, 5, 6, 6, 7]

In [14]:
lst=[x / 2 for x in range(10,20) if x%2 != 0] # divide only if it is odd
lst

[5.5, 6.5, 7.5, 8.5, 9.5]

In [16]:
lst=[i*j for i in range(2,5) for j in range(3)]
lst

[0, 2, 4, 0, 3, 6, 0, 4, 8]

In [19]:
# we cant do it for tuples as it will be created as generator , we have to conevert 
#it inot tuple after doing with the list
# to create for dictionary we have to use :

lst={i:j for i in range(2,5) for j in range(3)}
lst

{2: 2, 3: 2, 4: 2}

In [20]:
# multiple assignments

In [22]:
x=y=1
print(x,y)

1 1

In [23]:
x,y=2,3
print(x,y)

2 3

In [25]:
# unpacking: picking some iterable object over tuple, list and decompse it into individuak
x=y=z=3
print(x,y,z)
x,y,z=[1,2,3]
print(x,y,z)

3 3 3
1 2 3