In [2]:
x={1,2,4,4}

In [3]:
x.add(3)
x

{1, 2, 3, 4}

In [4]:
# sets doesnt allow to have duplicates  
x.add(4)
x

{1, 2, 3, 4}

In [7]:
# when creating empty set, make sure to use set function otherwise it considers as dictionary
x=set()
print(type(x))
x={}
print(type(x))

<class 'set'>
<class 'dict'>

In [10]:
x={1,2,4,4}
x.remove(4)
x

{1, 2}

In [11]:
x.clear()
x

set()

In [13]:
x={1,2,4,4,"hey","hello","hey"}
len(x)

5

In [14]:
# cant add list inside set but tuples are fine
x={1,2,3,4,[3,4]}
print(x)

TypeError: ignored

In [15]:
x={1,2,3,4,(3,4)}
print(x)

{1, 2, 3, 4, (3, 4)}

In [16]:
2 in x

True

In [20]:
#union
x={1,2}
y={2,3}
print(x.union(y))

# can use | 
x | y

{1, 2, 3}

{1, 2, 3}

In [24]:
print(x.intersection(y))
y&x

{2}

{2}

In [27]:
print(x.difference(y))
print(y.difference(x))
print(x-y)
print(y-x)

{1}
{3}
{1}
{3}

In [31]:
print(x.symmetric_difference(y))
print(y.symmetric_difference(x))

print(x ^ y)
print(y ^ x)

{1, 3}
{1, 3}
{1, 3}
{1, 3}

In [34]:
x={1,2}
y={2,3}
x.update(y)
y.update(x)
print(x)
print(y)

{1, 2, 3}
{1, 2, 3}

In [35]:
x.difference_update(y)
y.difference_update(x)
print(x)
print(y)

set()
{1, 2, 3}

In [38]:
# since set does not contain duplicates incase we have to do sum of the list containing duplicates just convert 
# it to list
x=[1,2,3,4,4,4,4,5,6,6,7,7,4]
x=set(x)
print(x)
# now convert back to set
x=[1,2,3,4,4,4,4,5,6,6,7,7,4]
x=list(set(x))
print(x)

{1, 2, 3, 4, 5, 6, 7}
[1, 2, 3, 4, 5, 6, 7]

In [39]:
# if user is allowed to have only one entry at time then we can use sets
numbers=set()
while True:
  num=int(input("Enter the Numbers"))
  if num in numbers:
    break

  numbers.add(num)
print(numbers)

Enter the Numbers3
Enter the Numbers4
Enter the Numbers5
Enter the Numbers3
{3, 4, 5}

In [42]:
# Write your code here.

# You'll have to use the strings:
# "Enter a character: "
# "Number of unique characters entered: _"

characters=set()
while True:
    character = input("Enter a character: ")
    if len(character) > 1:
        break

    if character in characters:
        break

    characters.add(character)

print(f"Number of unique characters entered: {len(characters)}")

Enter a character: a
Enter a character: b
Enter a character: c
Enter a character: d
Enter a character: a
Number of unique characters entered: 4