In [ ]:
# returns new version of list but does not change the original list but .sort does
lst=[1,2,3,1,5,8,3]
sorted(lst)

[1, 1, 2, 3, 3, 5, 8]

In [ ]:
lst.sort()

In [ ]:
lst

[1, 1, 2, 3, 3, 5, 8]

In [ ]:
# descending order of the list
lst=[1,2,3,1,5,8,3]
print(sorted(lst,reverse=True))

[8, 5, 3, 3, 2, 1, 1]

In [ ]:
# even if we use tuple as input , it returns the output as list so we will have to use tuple function to conver
lst=(1,2,3,1,5,8,3)
print(sorted(lst,reverse=True))
print(tuple(sorted(lst,reverse=True)))

[8, 5, 3, 3, 2, 1, 1]
(8, 5, 3, 3, 2, 1, 1)

In [ ]:
lst=[[-1,9],[2,3],[4,5],[0,0],[-2,0]]
print(sorted(lst))

[[-2, 0], [-1, 9], [0, 0], [2, 3], [4, 5]]

In [ ]:
lst.sort()
lst

[[-2, 0], [-1, 9], [0, 0], [2, 3], [4, 5]]

In [ ]:
lst=[[-1,9],[2,3],[4,5],[0,0],[-2,0]]
print(sorted(lst, reverse=True))

[[4, 5], [2, 3], [0, 0], [-1, 9], [-2, 0]]

In [ ]:
lst=[[-1,9],[2,3],[4,5],[0,0],[-2,0]]
lst.sort(reverse=True)
lst

[[4, 5], [2, 3], [0, 0], [-1, 9], [-2, 0]]

In [ ]:
# if we have to sort by second element then we will have to define the custom function 
def sort_second(item):
  return item[1]

In [ ]:
lst=[[-1,9],[2,3],[4,5],[0,0],[-2,0]]
lst.sort(reverse=True,key=sort_second)
lst

[[-1, 9], [4, 5], [2, 3], [0, 0], [-2, 0]]

In [ ]:
def sort_third(item):
  return item[2]
lst=[[-1,9,-1],[2,3,-2],[4,5,0],[0,0,2],[-2,0,2]]
lst.sort(reverse=True,key=sort_third)
lst

[[0, 0, 2], [-2, 0, 2], [4, 5, 0], [-1, 9, -1], [2, 3, -2]]

In [ ]:
def sort_third1(item):
  return sum(item)
lst=[[-1,9,-1],[2,3,-2],[4,5,0],[0,0,2],[-2,0,2]]
lst.sort(key=sort_third1)
lst

[[-2, 0, 2], [0, 0, 2], [2, 3, -2], [-1, 9, -1], [4, 5, 0]]

In [ ]:
lst = [3, 4, 2, -1, 2] 
# it returns None but values will be changed if we call the list again
print(lst.sort())
lst

None

[-1, 2, 2, 3, 4]

In [ ]:
people = {"Tim": 21, "Joe": 18, "Sarah": 25, "Jennie": 26, "Bill": 34}
# when we use get method, it sorts by the dictionary values not by keys
result = sorted(people, key=people.get)
print(result)

['Joe', 'Tim', 'Sarah', 'Jennie', 'Bill']